        <div style="background-image: url(https://cdn.tgdd.vn/Files/2018/08/14/1109528/nhung-cong-dung-dieu-ki-cua-khoai-tay-doi-voi-suc-khoe-202109221545064223.jpg);">
            <div class="row text-center justify-content-center">
                <div class="col-lg-9 shadow p-3 mb-5 bg-light rounded">
                    <h1>Potato.shop tự hào là cửa hàng bán khoai online lớn nhất Việt Nam.</h1>
                    <p>Ra mắt năm 2024, Potato.shop mang cho người dùng trải nghiệm mua khoai trực tuyến một cách đơn giản, an toàn và nhanh chóng
                    thông qua hệ thống hỗ trợ thanh toán đa nền tảng và vận hành vững mạnh. </p>
                    <p>Chúng tôi tin rằng trải nghiệm mua sắm trực tuyến cần đơn giản, dễ dàng và mang lại niềm vui cho người dùng.
                    Sứ mệnh này cũng là nguồn cảm hứng thúc đẩy chúng tôi phát triển từng ngày.</p>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-lg-3 shadow p-3 mb-5 bg-light rounded">
                    <h3>Mục tiêu của chúng tôi</h3>
                    <p>potato.shop mong muốn góp phần làm cho thế giới trở nên tốt đẹp hơn bằng
                        sức mạnh công nghệ thông qua việc kết nối cộng đồng người mua
                        và người bán.</p>
                </div>
                <div class="col-lg-3 shadow p-3 mb-5 bg-light rounded">
                    <h3>Định vị của chúng tôi</h3>
                    <p>Thông qua potato.shop, người dùng Internet trên toàn khu vực có thể trải nghiệm
                         mua sắm trực tuyến với các sản phẩm khoai đa dạng,
                         kết nối với cộng đồng người bán, 
                        và tận hưởng quá trình nhận hàng liền mạch.</p>
                </div>
            </div>
        </div>